.password-generator {
    background-color: rgb(112, 216, 121);
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin: 20vh auto;
    text-align: center;
  }
  
  .password-generator h2 {
    margin-bottom: 10px;
  }
  
  .password-generator label {
    display: inline-block;
    margin-right: 10px;
  }
  
  .password-generator button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .password-generator button:hover {
    background-color: #0056b3;
  }
  
  .password-generator p {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #e7f0fd; /* Light blue background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .copy-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
  }
  
  .copy-button:hover {
    background-color: #0056b3;
  }
  